<h1> listing of pujas pictures </h1>

<% @pictures.each do |picture| %>


    <p>Tile: <%= picture.title %> </p>
    <%= image_tag picture.picture_image.thumb.url %>
    <p>Description:<br> <%= picture.description.truncate_words(25) %> </p>

    <%= link_to 'Click on more details to see picture', picture_path(picture) %> <br>
    <% if can? :update, @picture %>
      <%= link_to 'Edit', edit_picture_path(picture) %>
    <% end %>
    <% if can? :destroy, @picture %>
      <%= link_to 'Destroy', picture_path(picture),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    <% end %>
     <br>

<% end %>

<% if can? :create, @picture %>
  <%= link_to 'New picture', new_picture_path %>
<% end %>

<%= link_to 'Home Page', root_path %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @pictures %>
    </div>
    <%= will_paginate @pictures, :container => false %>
  </div>
