<h1> listing of pujas pictures </h1>

<% @pictures.each do |picture| %>


    <p>Tile: <%= picture.title %> </p>
    <%= image_tag picture.picture_image.thumb.url %>
    <p>Description:<br> <%= picture.description.truncate_words(25) %> </p>

    <%= link_to 'Click on more details to see picture', picture_path(picture) %> <br>
    <% if can? :update, @puja %>
      <%= link_to 'Edit', edit_puja_path(puja) %>
    <% end %>
     <br>

<% end %>

<% if can? :create, @picture %>
  <%= link_to 'New picture', new_picture_path %>
<% end %>
