<h1> listing of pujas available </h1>

<% @pujas.each do |puja| %>

    <p>Name: <%= puja.name %> </p>
    <p>Description:<br> <%= puja.description.truncate_words(25) %> </p>
    <p>Benefit:<br> <%= puja.benefit.truncate_words(25) %> </p>
    <p>Suggested_offering: <%= puja.suggested_offering %> </p>
    <%= link_to 'More Details', puja_path(puja) %> <br>
    <%= link_to 'Edit', edit_puja_path(puja) %>
     <br>

<% end %>


<% if can? :create, @puja %>
  <%= link_to 'New puja', new_puja_path %>
<% end %>
<!-- note that this link would be lock in the future so that only admin can access -->
